@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-action="SubmitForm">
        
        <input type="text" name="userInput" required>
        <button type="submit">登录</button>
    </form>
</div>
